.Gallery-section{
    background-image: url('../../images/Invitation/background-paper.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Gallery-section::before{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.1;
}
.gallery-img {
    cursor: pointer;
    margin-bottom: 5px;
    overflow:hidden;
    width: 128px;
    height: 128px;
}

.image-box{
    width: 340px;
    z-index: 1200;
}
.image-box img{
    object-fit:cover;
}
.gallery-img img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.gallery-img:hover img {
    -webkit-transform: scale(1.2) rotate(5deg);
    -ms-transform: scale(1.2) rotate(5deg);
    transform: scale(1.2) rotate(5deg);
}

.gallery-img:hover .image-box img{
 transform: none;
}