.rsvp-wrap {
    /* background: rgba(0,48,143,0.7); */
}

.rsvp-wrap .section-title{
    text-align: center;
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    margin-bottom: 2px;
    background: rgba(0,48,143,0.9);
    color: white;
}
.section-title a{
    color: white;
}
.section-title a:visited{
    color:white
}

.section-title::before{
    content: "";
    position:absolute;
    border: 1px solid #fcc200;

}

.rsvp-wrap .section-title h2{
    margin-bottom: 0;
    padding-bottom: 0px;
}

.rsvp-wrap .section-title h2:before{
   display: none;
}

