.rsvp-area{
    background: #fdf5e6;
}
.rsvp-area{
    margin-left: 2%;
    width: 96%;
}

.rsvp-wrap .section-title{
    text-align: center;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #0f4780;
    background: none !important;
    border: #b19b48 solid 2px;
    border-radius: 12px;
}
.rsvp-wrap .btn-success{
    background-color: #0f4780 !important;
    border: #fcc200 solid 2px;
}

.rsvp-wrap .section-title a{
    color: white;
}
.rsvp-wrap .section-title a:visited{
    color:white
}

.rsvp-wrap .section-title h2{
    margin-bottom: 0 !important;
    padding-bottom: 0px !important;
}


@media screen and (min-width:480px){
    
}

@media screen and (min-width:767px){
    .rsvp-area{
        max-width:none !important;
        margin: 0;
        width: 100% !important;
    }

    .rsvp-wrap{
        width: 100%;
    }
}