.section-title h2 {
    font-size: 28px !important;
    font-family: 'Sacramento', Arial, serif;
    /* font-family: 'Wedding Invitation', sans-serif !important; */
    color: #b18b49;
}
.section-title{
    text-align: center;
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    margin-bottom: 2px;
    background-color: rgba(176,196,222,0.5);
}

.swirl-left{
    background-image: url('../../images/section-title-swirl-left.png');
    background-size: 80px;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
}
.swirl-right{
    background-image: url('../../images/section-title-swirl-right.png');
    background-size: 80px;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
} 


@media screen and (min-width:767px){
    .section-title h2 {
        font-size: 60px !important;
    }
     .swirl-left, .swirl-right{
        background-size: 40%;
    }

}